<nav class="nav-menu-custom">
  <div class="nav-logo center">
    <span class="nav-text-to-icon">LOGO</span>
    <i class="fa fa-microchip nav-minimized-icon" aria-hidden="true"></i>
  </div>

    <div class="nav-selection">
      <i class="fa fa-check nav-menu-icons" aria-hidden="true"></i>
      <div class="nav-popout">
          <label >Recommendations</label>
          <i aria-hidden="true" class="fa fa-angle-down nav-selected"></i>
      </div>
    </div>
      <div class="nav-recommendation-actions">
          <div class="nav-radio-option">
              <input type="radio"/>
              <label > Option 1 </label>
          </div>
          <div class="nav-radio-option">
              <input type="radio"/>
              <label> Option 2 </label>
          </div>
        </div>
    <div class="nav-selection">
      <i class="fa fa-home nav-menu-icons" aria-hidden="true"></i>
      <label class="nav-text-to-icon" >Home</label>
    </div>
    <div class="nav-selection">
      <i class="fa fa-envelope-o nav-menu-icons" aria-hidden="true"></i>
      <label class="nav-text-to-icon" >Contact</label>
    </div>

</nav>