<div class="primary-container">
  <div class="nav-container">
    <div class="nav-component-wrapper">
       <cus-nav-bar></cus-nav-bar>
    </div>
  </div>
  <div class="row-wrapper">
    <div class="header-wrapper">
        <div class="header-inner-wrapper">
            <cus-header></cus-header>
        </div>
    </div>
    <div class="body-wrapper">
      <div class="body-inner-wrapper">
          <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer-wrapper">
      <cus-footer></cus-footer>
    </div>
  </div>
</div>